<div class="modal" id="formSupUser{{ user.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 class="modal-title">Etes-vous sûr de vouloir supprimer cet utilisateur ?</h3>
            </div>
            <div class="modal-body">
                <form action="{{ path('sup_user_valid', { 'id' : user.id }) }}" method="post" id="suppression{{ user.id }}" class="suppressionUser" data-user="{{user.id}}">
                    <input type="submit" class="btn btn-danger" value="Oui">
                    <button class="btn btn-success" data-dismiss="modal">Non</button>
                    <input type="hidden"  id="csrf{{user.id}}" name="csrfSupUser" value="{{ csrf_token('csrf_sup_this') }}">
                </form>
            </div>
        </div>
    </div>
</div>