<h4>Edition de page</h4><hr>

<form method="post" action="{{ path('edit_page_valid', { 'id' : id }) }}" class="editPageFormValid">

    {# Les erreurs générales du formulaire. #}
    <div id="erreur">{{ form_errors(form) }}</div>
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.name, "Titre de la page", {'label_attr':{'class':'control-label'}}) }}

        {# Génération de l'input. #}
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id' : 'name', 'full_name' : 'name' }}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        <div id="erreur">{{ form_errors(form.name) }}</div>

    </div>

    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.content, "Contenu de la page", {'label_attr':{'class':'control-label'}}) }}

        {# Génération de l'input. #}
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'id' : 'contenu', 'full-name' : 'contenu'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        <div id="erreur">{{ form_errors(form.content) }}</div>
    </div>

    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.description, "Description de la page ( Utilisé dans les moteurs de recherches )", {'label_attr':{'class':'control-label'}}) }}

        {# Génération de l'input. #}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'id' : 'description', 'full-name' : 'description'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        <div id="erreur">{{ form_errors(form.description) }}</div>
    </div>

    <div class="checkbox">
        <label>
            {# Génération de l'input. #}
            {{ form_widget(form.contentArticle, {'attr': {'class': '', 'id' : 'contentArticle', 'full-name' : 'contentArticle'}}) }} Page qui contient les articles ?

        </label>

    </div>

    <div class="checkbox">
        <label>
            {# Génération de l'input. #}
            {{ form_widget(form.isHome, {'attr': {'class': '', 'id' : 'isHome', 'full-name' : 'isHome'}}) }} Page d'accueil du site ?

        </label>

    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary editPageValid">Valider</button>

    </div>

    {# Génération automatique des champs pas encore écrits.#}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
</form>