<hr><h4>Edition de votre template</h4><hr>
<div>
    <i class="fa fa-info-circle blue fa-lg" aria-hidden="true"></i>
    <strong>Si votre template ne s'actualise pas ou ne se charge pas, pensez à bien vérifier vos variables présentes dans le contenu de ce dernier.</strong>
</div>
<hr>
<div class="">
    <form method="post" action="{{ path('edit_template_post_valid') }}" class="editTemplatePostFormValid">

        {# Les erreurs générales du formulaire. #}
        <div id="erreur">{{ form_errors(formEdit) }}</div>
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(formEdit.name, "Nom du template" , {'label_attr':{'class':'control-label'}}) }}

            {# Génération de l'input. #}
            {{ form_widget(formEdit.name, {'attr': {'class': 'form-control'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            <div id="erreur">{{ form_errors(formEdit.name) }}</div>

        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(formEdit.content, "Contenu du template ( code source ) ", {'label_attr':{'class':'control-label'}}) }}

            {# Génération de l'input. #}
            {{ form_widget(formEdit.content, {'attr': {'class': 'form-control tinymce'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            <div id="erreur">{{ form_errors(formEdit.content) }}</div>
        </div>

        <div class="form-group">

            <button type="submit" class="btn btn-primary">Editer le template</button>
            <input type="hidden"  id="csrfEditTemplatePost" name="csrfEditTemplatePost" value="{{ csrf_token('csrf_edit_template_post') }}">
            <input type="button" class="btn btn-danger" data-toggle="modal" data-backdrop="false" data-target="#formSupTemplatePost" value="Supprimer le template">

        </div>
    </form>
    <div class="modal" id="formSupTemplatePost">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3 class="modal-title">Etes-vous sûr de vouloir supprimer ce template ?</h3>
                </div>
                <div class="modal-body">
                    <input type="button" class="btn btn-danger supTemplatePost" data-path="{{ path('sup_template_post_valid') }}" value="Supprimer le template">
                    <button class="btn btn-success" data-dismiss="modal">Non</button>
                    <input type="hidden"  id="csrfSupTemplatePost" name="csrfSupemplatePost" value="{{ csrf_token('csrf_sup_template_post') }}">
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover listVarTwig">
    <thead>
    <tr>
        <th>Variable twig</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>post.name|raw</td>
        <td>Le nom de votre article</td>
    </tr>
    <tr>
        <td>post.content|raw</td>
        <td>Le contenu de votre article</td>
    </tr>
    <tr>
        <td>post.author</td>
        <td>Le nom de l'auteur de l'article</td>
    </tr>
    <tr>
        <td>post.dateCreated|date("d.m.Y")</td>
        <td>La date de création de l'article</td>
    </tr>
    <tr>
        <td>path('homepage', {'slug' : 'XxX'})</td>
        <td>Lien vers la page dont le nom est XxX ( une variable peut-être utilisée 'ex: page.name' )</td>
    </tr>
    <tr>
        <td>path('view_one_post', {'slug' : 'XxX'})</td>
        <td>Lien vers l'article dont le nom est XxX ( une variable peut-être utilisée 'ex: post.name' )</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped table-hover listVarTwig">
    <thead>
    <tr>
        <th>Media</th>
        <th>Lien</th>
    </tr>
    </thead>
    <tbody>
    {% for media in listMedia %}
        <tr>
            <td><div class="col-xs-4 col-md-2">
                    <img class="img-thumbnail" src="{{ asset(media.webPath) }}" alt="{{ media.alt }}"/>
                </div>
            </td>
            <td>{{ media.webPath }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>