{% for template in listTemplate %}
    <button class="btn btn-default btnLoadViewTemplate form-control" data-edit="{{ path('update_form_edit') }}" data-name="{{ template.name }}" data-path="{{ path('load_view_template')}}" data-reload="{{ path('reload_list_template')}}">{{ template.name }}</button>
{% endfor %}